body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.plot-canvas {
  width: 80%;
  float: left;
}

#window_params {
  width: 20%;
  float: left;
}

#clear {
  clear:left;
}

#footer {
  text-align: center;
  padding-top: 50px;
}

.param {
  padding-top: 15px;
}

.param .input-group {
  margin-top:-10px;
}

.param .checkbox-inline {
  padding-top: 15px;
  padding-left: 34px;
}

#acf_plot #window_params {
  padding-left: 20px;
}

#button_update_time_series {
  text-align: center;
  padding-top: 20px;
}

#button_update_acf {
  text-align: center;
  padding-top: 20px;
}

#live-plot-buttons {
  padding-top: 20px;
  text-align: center;
}

#live-plot-buttons #button_start_stop_live {
  padding-top: 20px;
}

#footer p {
  font-size: 12px;
  color: #757575;
}

.plot {
  padding-top: 20px;
}
