body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#time-plot-canvas {
  width: 80%;
  float: left;
}

#window_params {
  width: 20%;
  float: left;
}

#acf_plot {
  clear:left;
}
