{% extends "layout.html" %} {% block body %}
<div class="container">
  <div>
    <h1>Data Sets</h1>
    <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>

  </div>
  <div>
    <h1>Live Data Sets</h1>
    <div class="list-group">
  <a href="/info" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>
  </div>
  <div>
    <h1>Evaluation Data Sets</h1>
    <div class="list-group">
      <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">...</p>
    </a>
    <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
  <h4 class="list-group-item-heading">List group item heading</h4>
  <p class="list-group-item-text">...</p>
</a>
  </div>
  </div>
</div>
<!-- /.container -->
{% endblock %}
