{% extends "layout.html" %} {% block body %}
<div class="container">

  <div>
    <h1>Data Sets</h1>
    <div class="list-group">
        {% for data_set in data_sets|sort(attribute='name') %}
        <a href="/info/{{data_set.id}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ data_set.name }}</h4>
            <p class="list-group-item-text">{{ data_set.description }}</p>
        </a>
        {% else %}
        <em>Sorry, no data sets available</em>
        {% endfor %}
    </div>
  </div>

  <div>
    <h1>Live Data Sets</h1>
    <div class="list-group">
        {% for data_set in live_data_sets|sort(attribute='name') %}
        <a href="/live_info/{{data_set.id}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ data_set.name }}</h4>
            <p class="list-group-item-text">{{ data_set.description }}</p>
        </a>
        {% else %}
        <em>Sorry, no data sets available</em>
        {% endfor %}
    </div>
  </div>

  <div>
    <h1>Evaluation Data Sets</h1>
    <div class="list-group">
        {% for data_set in eval_data_sets|sort(attribute='name') %}
        <a href="/eval_info/{{data_set.id}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ data_set.name }}</h4>
            <p class="list-group-item-text">{{ data_set.description }}</p>
        </a>
        {% else %}
        <em>Sorry, no data sets available.</em>
        {% endfor %}
    </div>
  </div>

</div> <!-- /.container -->

{% endblock %}
