<!doctype html>
<html>
    <head>
        <title>timeline___</title>

	<!-- root -->
        <script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

	<!-- jquery -->
        <script type=text/javascript src="{{url_for('static', filename='libs/jquery.min.js') }}"></script>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
	<script type=text/javascript src="{{url_for('static', filename='libs/bootstrap.min.js') }}"></script>

    	<!-- MetisMenu CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/metisMenu.min.css') }}">
	<script type=text/javascript src="{{url_for('static', filename='libs/metisMenu.min.js') }}"></script>

	<!-- raphael -->
	<script type=text/javascript src="{{url_for('static', filename='libs/raphael-min.js') }}"></script>

	<!-- Morris Charts CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='libs/morris.css') }}">
	<script type=text/javascript src="{{url_for('static', filename='libs/morris.min.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='libs/morris-data.js') }}"></script>

    	<!-- Custom Fonts -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css') }}">

	<!-- d3 -->
        <script type=text/javascript src="{{url_for('static', filename='libs/d3.js') }}"></script>

	<!-- metricsgraphics -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/metricsgraphics.css') }}">
	<script type=text/javascript src="{{url_for('static', filename='libs/metricsgraphics.js') }}"></script>

	<!-- Template Style files -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/sb-admin-2.css') }}">
	<script type=text/javascript src="{{url_for('static', filename='libs/sb-admin-2.js') }}"></script>

	<!-- Timeline CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/timeline.css') }}">

	<!--Styles CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">

        <script type=text/javascript src="{{url_for('static', filename='js/timeline.js') }}"></script>
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
