{% extends "layout.html" %}
{% block body %}

<h1>simple time plot test</h1>
<div id='time-plot-canvas'></div>
<a href=# id='btn-time-plot'>create plot</a>

<h1>ACF plot test</h1>
<div id='acf-plot-canvas'></div>
<a href=# id='btn-acf-plot'>create plot</a>

<h1>forcasting evaluation plot test</h1>
<div id='forecasting-plot-canvas'></div>
<a href=# id='btn-forecasting-plot'>create plot</a>

<script type="text/javascript">
    $('a#btn-time-plot').bind('click', time_plot);
    $('a#btn-acf-plot').bind('click', acf_plot);
    $('a#btn-forecasting-plot').bind('click', forcasting_eval_plot);
</script>

{% endblock %}
